<h1>FixComments#resources</h1>
<p>Find me in app/views/fix_comments/resources.html.erb</p>
<%= @comment.body %>
<%= form_for([@comment, @fix_comment]) do |f| %>
    <div class="form-group">
        <label for="body">Body</label>
        <%= f.text_field :body, class: "form-control" %>
    </div>
    <div class="form-group"><%= f.submit class: "btn btn-primary",  title: ""%></div>
<% end %>
