<div class="container">
    <div>
        Original: 
        <h5><%= @comment.body %></h5>
    </div>
    <p>添削してやろう！</p>
    <%= form_for([@comment, @fix_comment]) do |f| %>
        <div class="form-group">
            <label for="body">Body</label>
            <%= f.text_field :body, class: "form-control" %>
        </div>
        <div class="form-group"><%= f.submit class: "btn btn-primary",  title: ""%></div>
    <% end %>
</div>