// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.community-show-image{
    height: 20vh;
    width: 100%;
    object-fit: cover; 
    margin: auto;

}

.community-show-top-container{
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 75%;

}

.community-join{
    height: 5vh;
    background-color: white;
    min-width: 100vh;

}
.community-title{
    font-weight: bold;
    background-color: white;
    font-size: 1.2rem;

}

.community-title-box{
    width: 75%;
}

.circle-com {
    width: 10vh;
    height:10vh;
    border: 1px solid #657786;
    border-radius: 50px;
    background-image: url(https://images.unsplash.com/photo-1506111583091-becfd4bfa05d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
 }

 .community-title2{
    background-color:#EEEEEE;

 }

.community-card-img-top{
    object-fit: cover;
    height: 150px;
}

.community-index{

}
.community-index-title{
    color: black!important;
    text-align: center!important;
    font-size: 3.0vw;
}
.card-title a{
    color: black;
}

.community-body{
    font-size: 0.8vw;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin: 0;
}

.card-title-communityname{
    font-size: 1.2vw; 
}
.card-title-communitylanguage{
    font-size: 1.0vw; 
    color: #657786;
}

.community-card{
    box-shadow:0px 2px 6px -2px gray inset;
    border-radius:0px;
    min-height:300px;
    max-height: 300px;
    overflow: hidden;
    margin: 0;
    
}

.posts-box{
    width: 80%;
    min-height: 100vh;
}

.btn-create-post{
    background-color: #212529;
    color: white;
    border-radius: 4px ;
    text-align: center;
}

.url_des{
    word-wrap: break-word;
}

.url_title{
    border: 1px solid #EEEEEE;
    border-radius: 0.25rem;
    width:20rem;
}

//community-details
.community-details{
    background-color: white;

}

.card-header-community{
    font-weight: bold;
    color: #BBBBBB;
}

.community-details-language{
    color: gray;
    font-size: 0.8rem;
    

}

.count-number{
    font-size: 1.2rem;
    
}

.count-kind{
    font-size: 0.7rem;

}

.community-edit a{
    color: #BBBBBB;
}


.join-title{
    font-size: 0.9rem;
    font-weight: bold;
}
.joinmember-name a{
    color: #212529;
}