// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.community-title{
    font-weight: bold;
    background-color: white;
    font-size: 1.2rem;
}

.circle-com {
    width: 10vh;
    height:10vh;
    border: 1px solid #657786;
    border-radius: 50px;
    background-image: url(https://images.unsplash.com/photo-1506111583091-becfd4bfa05d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-size: cover;
 }

 .community-title2{
    background-color:#EEEEEE;

 }

.card-img-top{
    height: 200px;
    object-fit: cover;
}

.community-index{

}
.community-index-title{
    color: black!important;
    text-align: center!important;
    font-size: 3.0vw;
}
.card-title a{
    color: black;
}

.community-card{
    box-shadow:0px 2px 6px -2px gray inset;
    border-radius:0px;
}