// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS



/* navbar 全体の背景色とボーダーカラー */
.navbar-default {
    background-color: #151515;
}

.navbar-toggler{
    border: 1px solid white;
}

.bg-primary {
    background-color: linear-gradient(#FF512F,#DD2476);
}

.mb-auto, .my-auto {
    margin-bottom: auto!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    // background: linear-gradient(#D31027,#EA384D)!important;
    background-image: url(https://images.unsplash.com/photo-1506111583091-becfd4bfa05d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
   
    background-size: cover;
}

div {
    display: block;
    
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center!important;
    justify-content: center;
    margin: auto;
}

.text3 {
    color: #fff!important;
    display: flex;
    text-align: center!important;
    justify-content: center;
    align-items: center; 
    margin: auto;
    background: linear-gradient(#D31027,#EA384D);
    font-size: 3.0vw;
}

ml-auto, .mx-auto {
    margin-left: auto!important;
}




// トップのロゴ

.text-appercase {
    text-transform: uppercase!important;
}

.text1{
    font-size: 3.0vw;
    padding-left: 10%;
  }
.text2{
    font-size: 10.0vw;
    line-height:0.5;
    margin-bottom: 14%;
  }

strong, b {
    font-weight: bold;
    
}




.d-md-block {
    display: block !important;
}




.text-white {
    color: #fff!important;
}



//文章
.text-faded {
    color: rgba(255,255,255,.7);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navbar-brand{
    color: #f8f9fa;
}

//ボタン
.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-xl {
    padding: 1rem 2rem;
}
section {
    display: block;
}

.nav-link{
    color: #f8f9fa;
    font-weight: bold;
}

// アラート
.notice{
    background:#FF0033;
    padding: 0%;
    margin: 0;
}
.alert{
    background:#FF0033;
    padding: 0%;
    margin: 0;
}

.right-box{
    background-color: red;
    width: 50%;
  }

//コンテナ2
.container-fluid2{
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background: linear-gradient(#EB3349,#F45C43);
    // background: linear-gradient(#c2e59c,#64b3f4);
    background-size:cover;
    
}

.container-fluid3{
    background-image: url(https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80);
    background-size:cover;
    background-position: center center;
    height:40rem;
}

.container-box{
    background:#ffffff;
    width:  70%;
    height: 50%;
}

.container-box-left{
    width:  50% ;
}


.container-box-text{
    font-weight: bold;
    
}

.container-box-title{
    font-size: 2.0vw; 
}

.square{
    width: 15rem;
    height: 10rem;
    border: 1px solid black;
}

.container-box2{
    width:  70% ;
    height: 50%;
}