// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//post
.post-info1{
    font-size: 1.0rem;
    color: #657786;
}

@include media-breakpoint-up(md) {
    .post-info1{
      font-size: 0.3rem;
    }
  }

.square {
    width: 100px;
    height: 100px;
    border: 1px solid #657786;
 }

 .circle {
    width: 30px;
    height: 30px;
    border: 1px solid #657786;
    border-radius: 50px;
 }


.post {
    img {
        height: 250px;
        width: 250px;
    }
}

img.index-post {
    height: 100%;
    width: 100%;
}

.reply-box{
    background-color: white;
}


//コメントページ
.back-community a{
    color: black;    
}
.comment-container{
    background-color: white;
}
.form-control{

}

.post-url_title a{
    color: black;

}
@include media-breakpoint-up(md) {
    .post-url_title a{
      font-size: 1.2rem;
    }
  }

.post-url_description{
    font-size: 1.0rem;

}

@include media-breakpoint-up(md) {
    .post-url_description{
      font-size: 0.8rem;
    }
  }

@include media-breakpoint-up(md) {
    .post-url_description{
      font-size: 1.0rem;
    }
  }

.post-link{
    text-align: center;
    color: white;
    background: black;
    border-radius: 4px ;

}
.post-link a{
    color: white;
}

.learn-language{
    font-size: 30% ;
    color: #657786;
}

.star-point-1{
    color: green;
    font-size: 3px;
}
.star-point-2{
    color: blue;
    font-size: 3px;
}

.comment-flex{
    display: flex;
}

.comment-box{
    background-color: #eeeeee;
    border-radius: 4px ;
    font-size: 80% ;    
}

.comment-time{
    font-size: 30% ;
    color: #657786;
}

.comment-body{
    font-size: 120% ;

}



.card-bottom a{
    color: #BBBBBB;
}

.fix_comment_box{
    width: 80% ;

}

.fix_comment_body{
    border-radius: 4px ;
    font-size: 80% ;
    border: 1px solid #DDDDDD;
}
