// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// img


.user-show-top{
    height: 20vh;
    object-fit: cover; 
    margin: auto;
}

.user-title{
    font-weight: bold;
    background-color: white;
    font-size: 1.2rem;
    min-width: 100vh;
}

.user-show-bg{
    height: 20vh;
    width: 75%;
    background-color:wheat;
    background-image: url("http://www.line-tatsujin.com/stamp/outline/a02957-0.png")
}
.user-title-box{
    width: 65%
}
.float-left {
    float: left;
}
.img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    padding-right: 20px;

}
img {
    vertical-align: middle;
    border-style: none;
}

.float-right {
    float: right!important;
}
.profile-image{
    border-radius: 50%;
}

.profile-btn a{
    font-size: 0.8rem;
}
.circle-user{
    
}

.post-container{
    min-height: 80vh;
}

.posts{
    min-height: 100vh;
}