// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// img
.float-left {
    float: left;
}
.img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    padding-right: 20px;

}
img {
    vertical-align: middle;
    border-style: none;
}

.float-right {
    float: right!important;
}
.profile-image{
    border-radius: 50%;
}

.profile-btn a{
    font-size: 0.8rem;
}
.circle-user{
    
}

.post-container{
    min-height: 80vh;
}