// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// img
.float-left {
    float: left;
}
.img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    padding-right: 20px;

}
img {
    vertical-align: middle;
    border-style: none;
}

.float-right {
    float: right!important;
}


//post
.post-info1{
    font-size: 10%;
    color: #657786;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid #657786;
 }

 .circle {
    width: 30px;
    height: 30px;
    border: 1px solid #657786;
    border-radius: 50px;
 }